In [1]:
result = 100/777

In [2]:
result

0.1287001287001287

In [3]:
print("the result was {}".format(result))

the result was 0.1287001287001287

In [6]:
print("the result was {r:1.4f}".format(r=result))

the result was 0.1287

In [7]:
result

0.1287001287001287

In [8]:
print(f'the result was {result}')

the result was 0.1287001287001287

In [11]:
name = 'topon'
age= 25

In [12]:
print(f'{name} is {age} years old' )

topon is 25 years old

In [13]:
my_list = ['one','two','three']

In [14]:
my_list[0]

'one'

In [15]:
my_list[1:]

['two', 'three']

In [16]:
my_list

['one', 'two', 'three']

In [17]:
another_list = ['four','five']

In [25]:
my_list + another_list

['one', 'two', 'three', 'four', 'five']

In [26]:
my_list

['one', 'two', 'three']

In [27]:
another_list

['four', 'five']

In [28]:
new_list = my_list + another_list

In [29]:
new_list

['one', 'two', 'three', 'four', 'five']

In [30]:
new_list[0] = 'ONE ALL CAPS'

In [31]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [32]:
new_list.append('six')

In [33]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [34]:
new_list.append('seven')

In [35]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [36]:
 new_list.pop()

'seven'

In [37]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [38]:
new_list.pop(0)

'ONE ALL CAPS'

In [39]:
new_list

['two', 'three', 'four', 'five', 'six']

In [43]:
my_list = ['a','c','d','e','b']
num_list = [4,2,1,3,5]

In [44]:
my_list.sort()

In [45]:
my_list

['a', 'b', 'c', 'd', 'e']

In [46]:
num_list.sort()

In [47]:
num_list

[1, 2, 3, 4, 5]

In [48]:
my_sorted_list = new_list.sort()

In [50]:
type(my_sorted_list)

NoneType

In [51]:
my_list

['a', 'b', 'c', 'd', 'e']

In [ ]:
my_list.re